<!DOCTYPE html>
<html>
  <head>
    <title>Coderphoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-dark bg-faded" style="border-radius: 0; background-color: #778899">
  		<%= link_to "CoderPhoto", root_path, class: 'navbar-brand' %>
  		<ul class="nav navbar-nav">
  			<li class="nav-item active">
  				<%= link_to "Timeline", photos_path, class: 'nav-link' %>
  			</li>
  		</ul>
  	</nav>

	<div class="jumbotron">
		<h1 class="dislay-3">CoderPhoto</h1>
		<p class="lead"> This is first lab demo of Ruby class</p>
		<hr class="m-y-2">
			<p>I spent 4 hours to make this lab, just complete Milestone 3, haiz! </p>
	</div>


  	<div  class="container"> 
    	<%= yield %>
    </div>
  </body>
</html>
